body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0b1c2d;
  color: white;
}

.hero {
  height: 70vh;
  background: url("dmp.jpg") center/cover no-repeat;
  position: relative;
}

.overlay {
  background: rgba(0,0,0,0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 50px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 40px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.08);
  background: rgba(0,123,255,0.4);
  }
